@page "/"
@inject NavigationManager NavigationManager
@using ChroniclesOfDarknessDiceRoller.Client.Components;

<div class="layout">
    <Card Title="JoinGame">
        <form @onsubmit="OpenGame">
            <div class="form-group">
                <label for="game-name">GameName:</label>
                <input id="game-name" class="input" type="text" @bind="gameName" />
            </div>
            <button class="button" type="submit">Join Game</button>
        </form>
    </Card>
</div>

@code {
    private string? gameName;

    private void OpenGame()
    {
        if (!string.IsNullOrWhiteSpace(gameName))
        {
            NavigationManager.NavigateTo($"game/{gameName}");
        }
    }
}
