@page "/"
@inject NavigationManager NavigationManager
@using ChroniclesOfDarknessDiceRoller.Client.Components;

<Card Title="JoinGame">
    <form @onsubmit="OpenGame">
        <div class="form-row">
            <label for="game-name">GameName:</label>
            <input id="game-name" class="input" type="text" @bind="gameName" />
        </div>
        <button class="button" type="submit">Join Game</button>
    </form>
</Card>

@code {
    private string? gameName;

    private void OpenGame()
    {
        if (!string.IsNullOrWhiteSpace(gameName))
        {
            NavigationManager.NavigateTo($"game/{gameName}");
        }
    }
}
