@using ChroniclesOfDarknessDiceRoller.Shared

<div>
    <div>
        <h5>@RollResult.Player</h5>
        <h6>Successes: @CountSuccesses()</h6>

        <div class="dice-container">
            @foreach (var roll in RollResult.Rolls)
            {

                <div class="dice-wrapper">
                    <Dice Result=roll.Result IsReRoll=false></Dice>
                </div>
                @foreach (var reroll in roll?.RerollsResults)
                {
                    <div class="dice-wrapper">
                        <Dice Result=reroll IsReRoll=true></Dice>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public RollResult RollResult { get; set; }


    private int CountSuccesses()
    {
        return RollResult.Rolls
            .SelectMany(t => t.RerollsResults.Append(t.Result))
            .Count(t => t >= 8);
    }

}
