nav {
    width: 100%;
    background-color: var(--light);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item ::deep a {
    text-decoration: none;
    color: var(--dark);
    padding: 10px 15px;
}