@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar">
    <ul class="nav-links">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
    </ul>
</nav>
